extends ../layout.pug

block title
  | Boris Okunskiy

block meta
  meta(name="description"
    content="Boris Okunskiy Blog Posts")

block content
  .posts
    if !allPosts.length
      .post-empty
        p Sorry, there are no posts at the moment.
        p.em (Maybe I'm working on them right now!)
    each post in allPosts
      if !post.draft
        .post-item
          //- .post-item-cal.cal.cal--small(title=post.date.format('LLL'))
            .cal-day= post.date.format('DD')
            .cal-sub
              .cal-month= post.date.format('MMM')
              .cal-year= post.date.format('YY')
          .post-item-main
            a.post-item-title(href=post.url)= post.title
            .post-item-tags
              each tag in post.tags
                a.post-tag(href=`/?tag=` + tag)= tag
