extends top.pug

block body
  .header
    .header-container.container
      .topnav
        .topnav-logo
          a.logo.topnav-link(href="/" title="Boris Okunskiy")
            include ./icons/bo
            span.logo-name Boris Okunskiy
            //- span.logo-name(data-name="Boris")
            //- span.logo-dot.logo-particle
            //- span.logo-name(data-name="Okunskiy")
        //- .topnav-links
          //- a.topnav-link(href="/posts") Posts
          //- a.topnav-link(href="/projects") Projects
          //- a.topnav-link(href="/about") About
        .topnav-icons
          a.topnav-icon(
            href="https://twitter.com/boris_okunskiy"
            title="Boris on Twitter")
            include ./icons/twitter
          a.topnav-icon(
            href="https://github.com/inca"
            title="Boris on GitHub")
            include ./icons/gh

        //- include ./components/theme-switch
  .content
    .content-container.container
      block content
  .footer
    .footer-container.container
      .footer-grid
        include components/h-card
        .footer-icons
          a.footer-icon(
            href="https://twitter.com/boris_okunskiy"
            title="Boris Okunskiy on Twitter")
            include ./icons/twitter
          a.footer-icon(
            href="https://github.com/inca"
            title="Boris Okunskiy on GitHub")
            include ./icons/gh
