extends layout.pug

block content
    article.post(data-post-id=post.id)
        .post__cal.cal(title=post.date.format('LLL'))
            .cal__day= post.date.format('DD')
            .cal__sub
                .cal__month= post.date.format('MMM')
                .cal__year= post.date.format('YY')
        header.post__title
            h1= post.title
        .post__content!= post.html
