extends layout.pug

block prepend title
  = post.title

block append meta
  meta(name="description" content=post.description)

block content
  article.post(data-post-id=post.id)
    header.post-header
      .post-cal.cal(title=post.date.format('LLL'))
        .cal-day= post.date.format('DD')
        .cal-sub
          .cal-month= post.date.format('MMM')
          .cal-year= post.date.format('YY')
      h1.post-title= post.title
      .post-tagline
        each tag in post.tags
          a.post-tag(href=`/posts?tag=` + tag)= tag

    .post-content!= post.html
