extends layout.pug

block content
    article.post
        .post__cal.cal
            .cal__day= post.date.format('DD')
            .cal__month= post.date.format('MM')
            .cal__year= post.date.format('YYYY')
        header.post__title
            h1= post.title
        .post__content!= post.html
