doctype html
html
    head
        block title
            title= title
        link(rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap&subset=cyrillic")
        link(rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i&display=swap&subset=cyrillic")
        link(rel="stylesheet"
            href="/build/index.css")
        link(
            rel="shortcut icon"
            href="/favicon.ico")
    body
        block body
        script(src="/lib/highlight.pack.js")
        script.
            hljs.initHighlightingOnLoad();
        script(src="/build/index.js")
        script(src="https://polyfill.io/v3/polyfill.min.js?features=es6")
        script.
            MathJax = {
                extensions: ["TeX/AMSmath.js", "TeX/AMSsymbol.js"],
                tex: {
                    inlineMath: [['%%', '%%']],
                },
            }
        script#MathJax-script(async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js")
