doctype html
html(lang="en")
  head
    title
      block title
        |  · Boris Okunskiy
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,400i,600,600i&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i&display=swap")
    link(rel="stylesheet"
      href="/index.css")
    link(
      rel="shortcut icon"
      href="/media/favicon.ico")
    block links
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#dd3c49")
    meta(name="apple-mobile-web-app-status-bar-style" content="#dd3c49")
    block meta
      meta(name="description"
        content="Boris Okunskiy — Principal Software Engineer at UBIO, loves TypeScript, enjoys good technical and visual design.")
  body
    block body
    script(defer src="https://polyfill.io/v3/polyfill.min.js?features=es6")
    script(defer src="/lib/highlight.pack.js")
    script(defer src="/main.js")
    if !isProduction
      script(defer src="/dev.js")
