doctype html
html(lang="en")
    head
        title
            block title
                |  · AlphaMagenta
        link(rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i&display=optional&subset=cyrillic")
        link(rel="stylesheet"
            href="/build/index.css")
        link(
            rel="shortcut icon"
            href="/favicon.ico")
        meta(charset="utf-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1")
        block meta
    body
        block body
        script(defer src="https://polyfill.io/v3/polyfill.min.js?features=es6")
        script(defer src="/lib/highlight.pack.js")
        script(defer src="/build/main.js")
        if !isProduction
            script(defer src="/build/dev.js")
