.h-card(itemscope itemtype="http://schema.org/Person")
  img.u-photo.round(
    itemprop="image"
    src="/media/about/boris.jpg"
    width="48"
    height="48"
    alt="Boris Okusnkiy Photo")
  .h-card-main
    a.u-url(
      href="https://boris.okunskiy.name"
      itemprop="url")
      span.p-name(itemprop="name") Boris Okunskiy
    span.h-card-pronouns
      span.p-x-pronoun-nominative he
      span.p-x-pronoun-oblique him
      span.p-x-pronoun-possessive his
    a.u-email(
      href="mailto:boris@okunskiy.name"
      itemprop="email")
      span boris@okunskiy.name
